<script type="text/javascript" charset="utf-8">
  var flows = JSON.parse('<%= raw(game.flows.to_json(only: [:id, :name])) %>');
  var actions = JSON.parse('<%= raw(FlowAction.all.to_json(except: [:created_at, :updated_at])) %>');

  function add_transition(to_flow_id, keyword) {
    var transitionNode = '<div class="transition"> \
        <select name="transition[to_flow_id]" id="transition_to_flow_id">';
    flows.forEach(function (flow) {
      transitionNode += `<option value="${flow.id}" ${flow.id === to_flow_id ? 'selected' : ''}>${flow.name}</option>`;
    });
    transitionNode += `</select> \
        <input type="text" name="keyword" id="keyword" value="${keyword || ''}"> \
        <i class="fa fa-minus" onclick="remove_transition(this)"></i> \
        </div>`;
    $('.transitions-field > .fa-plus').before(transitionNode);
  }

  function remove_transition(target) {
    $(target.parentNode).remove();
  }

  function move_up_action(target) {
    var actionNode = target.parentNode;
    var previousActionNode = actionNode.previousElementSibling;
    if (previousActionNode.className !== 'action') {
      return false;
    }

    $(previousActionNode).before(actionNode);
  }

  function move_down_action(target) {
    var actionNode = target.parentNode;
    var nextActionNode = actionNode.nextElementSibling;
    if (nextActionNode.className !== 'action') {
      return false;
    }

    $(nextActionNode).after(actionNode);
  }

  function add_action(action_map) {
    var action = actions.find(function (act) {
      return act.id === action_map.flow_action_id;
    });
    var parameters = action_map.arguments || [];

    var actionNode = ` \
        <div class="action"> \
        <i class="fa fa-arrow-up" onclick="move_up_action(this)"></i> \
        <i class="fa fa-arrow-down" onclick="move_down_action(this)"></i> \
        <input type="hidden" name="map_id" value="${action_map.id}">
        <select name="action_id" onchange="init_parameters(this)">`;

    if (!action) {
      actionNode += '<option value="0" selected>选择动作</option>';
    }

    actions.forEach(function (act) {
      actionNode += `<option value="${act.id}" ${action && act.id === action.id ? 'selected' : ''}>${act.name}</option>`;
    });

    actionNode += `</select> \
        <i class="fa fa-minus" onclick="remove_transition(this)"></i> \
        <div class="parameter-field">`;

    if (action) {
      action.arguments.forEach(function (parameter) {
        const name = parameter.name;
        var value = parameters[name] || parameter.default || '';
        actionNode += ` \
            <div class="parameter"> \
            <input type="text" name="key" value="${name}" disabled/>: \
            <input type="text" name="value" value='${typeof value === 'string' ? value : JSON.stringify(value)}'/> \
            </div>`;
      });
    }

    actionNode += `</div> \
        </div>`;
    $('.actions-field > .fa-plus').before(actionNode);
  }

  function init_parameters(target) {
    var action = actions.find(function (act) {
      return act.id.toString() === target.value;
    });
    var parameterField = '';
    action.arguments.forEach(function (parameter) {
      var value = parameter.default || '';
      parameterField += ` \
          <div class="parameter"> \
          <input type="text" name="key" value="${parameter.name}" disabled/>: \
          <input type="text" name="value" value="${typeof value === 'string' ? value : JSON.stringify(value)}"/> \
          </div>`;
    });
    $(target.parentNode).find('.parameter-field').html(parameterField);
  }

  function serialize_transitions() {
    var transitions = Array.apply(null, document.querySelectorAll('.transition'));
    var json = transitions.map(function (transition) {
      var select = transition.querySelector('select');
      var input = transition.querySelector('input');
      return {
        to_flow_id: select.value,
        keyword: input.value,
      };
    });

    document.querySelector('#game_flow_to_transitions').value = JSON.stringify(json);
  }

  function serialize_actions() {
    var actions = Array.apply(null, document.querySelectorAll('.action'));
    var json = actions.map(function (action, index) {
      var id = action.querySelector('input[name="map_id"]').value;
      var action_id = action.querySelector('select[name="action_id"]').value;
      var result = {
        id: Number(id),
        flow_action_id: Number(action_id),
        number: index + 1,
        arguments: {}
      };
      var parameters = Array.apply(null, action.querySelectorAll('.parameter'));
      parameters.forEach(function (parameter) {
        var key = parameter.querySelector('input[name="key"]').value;
        var value = parameter.querySelector('input[name="value"]').value;
        try {
          result.arguments[key] = JSON.parse(value);
        } catch(_) {
          result.arguments[key] = value;
        }
      });
      return result;
    });

    document.querySelector('#game_flow_flow_action_maps').value = JSON.stringify(json);
  }

  function serialize_form() {
    serialize_actions();
    serialize_transitions();
  }

  $(document).ready(function () {
    <% game_flow.to_transitions.each do |transition| %>
    add_transition(<%= transition.to_flow_id %>, '<%= transition.keyword %>');
    <% end %>
    <% game_flow.flow_action_maps.each do |action_map| %>
    add_action(JSON.parse('<%= raw(action_map.to_json) %>'));
    <% end %>
  })
</script>

<%= form_for([game, game_flow]) do |f| %>
  <% if game_flow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_flow.errors.count, "error") %> prohibited this game_flow from being saved:</h2>

      <ul>
        <% game_flow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game %>
    <%= text_field_tag :game, game.name, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field actions-field">
    <%= f.label :flow_action_maps %>
    <%= f.hidden_field :flow_action_maps, value: game_flow.flow_action_maps.to_json(only: [:id, :flow_action_id, :number, :arguments]) %>
    <i class="fa fa-plus" onclick="add_action({})"></i>
  </div>

  <div class="field transitions-field">
    <%= f.label :to_transitions %>
    <%= f.hidden_field :to_transitions, value: '[]' %>
    <i class="fa fa-plus" onclick="add_transition()"></i>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', onclick: 'serialize_form()' %>
  </div>
<% end %>
